*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
  background-color: $color-light;
}
