.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.page {
  padding: 20px 20px;
}

.header {
  @include section-bg('../images/background.png');
  min-height: 90svh;
  color: $color-light;

  h1 {
    margin: 0;
    line-height: 1;
  }

  .header__logo {
    letter-spacing: $letter-spacing-md;
  }

  .header__wrapper {
    @include flex(row, space-between);
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2rem;

    h4 {
      margin-top: 0;
    }

    .header__nav {
      display: flex;
      flex-wrap: nowrap;
      gap: 1.5rem;
    }
  }

  .header__hero {
    @include flex(column, center, center);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-main;
    font-size: $font-size-xlg;
    line-height: 1.1;
    font-weight: $font-bold;
    letter-spacing: $letter-spacing-lg;
  }

  .header__hero-line {
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: $color-main;
    margin: 1rem auto 0;
  }

  .header__discover {
    @include flex(column, center, center);
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);

    .header__discover-subtext {
      letter-spacing: $letter-spacing-lg;
      font-size: 1.5rem;
    }

    .icon-arrow-down {
      font-size: $font-size-lg;
    }
  }
}

.header__nav a {
  text-decoration: none;
  color: $color-grey;
}

.line {
  display: block;
  width: 20rem;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}

footer {
  @include flex(column, center, center);
  padding: 1.3rem;
}
