.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  padding: 20px 20px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90svh;
  color: $color-light;
  padding-top: 2rem;
  position: relative;

  h1 {
    margin: 0;
    line-height: 1;
  }

  .header__logo {
    letter-spacing: 0.2rem;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;

    h4 {
      margin-top: 0;
    }

    .header__nav {
      display: flex;
      flex-wrap: nowrap;
      gap: 1.5rem;
    }
  }

  .header__hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-main;
    display: flex;
    flex-direction: column;
    font-size: 55px;
    line-height: 1.1;
    font-weight: $font-bold;
    letter-spacing: 0.3rem;
  }

  .header__hero-line {
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: $color-main;
    margin: 1rem auto 0;
  }

  .header__discover {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    .header__discover-subtext {
      letter-spacing: 0.3rem;
      font-size: 25px;
    }
    .icon-arrow-down {
      font-size: 2rem;
    }
  }
}

.header__nav a {
  text-decoration: none;
  color: $color-grey;
}
