.contact-us__wrapper {
  @include flex(column, center, stretch);
  margin-top: 2rem;
}

.contact-us__header {
  @include flex(column, center, center);
  color: $color-main;
  font-size: $font-size-xlg;
  line-height: 1.1;
  font-weight: $font-bold;
  letter-spacing: $letter-spacing-lg;
}

.contact-us__form {
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  form {
    @include flex(column, center, stretch);
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    label {
      letter-spacing: $letter-spacing-md;
      font-weight: $font-semibold;
      text-align: center;
      margin-top: 2rem;
    }

    button,
    textarea {
      width: 100%;
      padding: 0.7rem;
      border: 1px solid $color-dark;
      font-size: $font-size-normal;
      background-color: $color-light;
      color: $color-dark;
      outline: none;
      border-radius: 0;
    }

    textarea {
      min-height: 6rem;
      resize: none;
    }

    #submit {
      background-color: $color-main;
      padding: 0.7rem 1.5rem;
      color: $color-light;
      border: 0;
      letter-spacing: $letter-spacing-md;
      text-transform: uppercase;
      font-weight: $font-bold;
      margin-top: 1.5rem;
      cursor: pointer;
      transition: background 0.3s ease;
      width: 10rem;
      align-self: center;
    }
  }
}
