.contact-us__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2rem;
}

.contact-us__header {
  display: flex;
  flex-direction: column;
  color: $color-main;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  line-height: 1.1;
  font-weight: $font-bold;
  letter-spacing: 0.3rem;
}

.contact-us__form {
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    label {
      letter-spacing: 0.2rem;
      font-weight: $font-semibold;
      text-align: center;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.7rem;
      border: 1px solid $color-dark;
      font-size: 14px;
      background-color: $color-light;
      color: $color-dark;
      outline: none;
      border-radius: 0;
    }

    textarea {
      min-height: 6rem;
      resize: none;
    }

    #submit {
      background-color: $color-main;
      padding: 0.7rem 1.5rem;
      color: white;
      border: 0;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      font-weight: $font-bold;
      margin-top: 1.5rem;
      cursor: pointer;
      transition: background 0.3s ease;
      width: 10rem;
      align-self: center;
    }
  }
}
