.about-us {
  @include section-bg('../images/background.png');
  min-height: 60svh;
  color: $color-light;
  padding-top: 2rem;
}

.about-us__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.about-us__header {
  @include flex(column, center, center);
  color: $color-main;
  font-size: $font-size-xlg;
  line-height: 1.1;
  font-weight: $font-bold;
  letter-spacing: $letter-spacing-lg;
}

.about-us__information {
  @include flex(column, center, center);
  font-style: italic;
  font-size: $font-size-md;
}

.about-us__join-us {
  @include flex(row, flex-end, center);
  max-width: 600px;
  padding-right: 3rem;
  font-style: italic;
  font-size: $font-size-md;
}
