.about-us {
  @include section-bg('../images/background.png');
  min-height: 60svh;
  color: $color-light;
  padding-top: 2rem;
}

.about-us__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.about-us__header {
  @include flex(column, center, center);
  color: $color-main;
  font-size: $font-size-xlg;
  line-height: 1.1;
  font-weight: $font-bold;
  letter-spacing: $letter-spacing-lg;
}

.about-us__carousel {
  width: 100%;
  margin: 2rem;

  .carousel-cell {
    @include flex(row, center, center);
    width: 100%;
  }

  .carousel-cell img,
  .carousel-cell-text {
    flex: 1;
    max-width: 50%;
  }

  .carousel-cell img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .carousel-cell-text {
    padding: 1rem;

    .carousel-cell-text-header {
      font-size: $font-size-lg;
    }

    .carousel-cell-text-description {
      font-size: $font-size-normal;
      font-style: italic;
      font-weight: $font-semibold;
    }
  }
}
