.about-us {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/about-us.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60svh;
  color: $color-light;
  padding-top: 2rem;
  position: relative;
}

.about-us__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.about-us__header {
  display: flex;
  flex-direction: column;
  color: $color-main;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  line-height: 1.1;
  font-weight: $font-bold;
  letter-spacing: 0.3rem;
}

.about-us__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 20px;
}

.about-us__join-us {
  display: flex;
  justify-content: flex-end;
  max-width: 600px;
  padding-right: 3rem;
  font-style: italic;
  font-size: 20px;
}

.about-us__line {
  display: block;
  width: 50%;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}
