.products {
  @include flex(column, center, center);
  width: 100%;
}

.products__wrapper {
  width: 70%;
  @include flex(column, center, center);
  background-color: $color-light;
  padding-bottom: 3rem;
}

.product__header {
  p {
    @include flex(column, center, center);
    color: $color-main;
    font-size: $font-size-xlg;
    line-height: 1.1;
    font-weight: $font-bold;
    letter-spacing: $letter-spacing-lg;
    margin: 0;
    padding-top: 3rem;
  }
}

.product {
  @include flex(row, space-between, center, 3rem);

  margin-top: 3rem;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.product__image {
  @include flex(row, center, center);
  flex: 0 0 50%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.product__header-line {
  display: block;
  width: 20rem;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}

.product__description-inside {
  @include flex(row, center, center, 1rem);
  flex: 1 1 50%;

  margin-bottom: 2rem;

  p {
    font-size: $font-size-normal;
    line-height: 1.5;
    margin: 0;
  }
}

.product__description-line {
  display: block;
  width: 10rem;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}

.product__description {
  h3 {
    font-size: $font-size-lg;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-md;
  }
}

.product__measurements {
  display: flex;
  flex-direction: column;
  font-weight: $font-bold;
  font-size: $font-size-normal;

  .product__measurements-value {
    color: $color-main;
  }
}

.corner {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 120px;
  background: $color-main;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.7rem;
  padding-right: 1rem;
  text-align: right;
  color: $color-light;
}

.corner .old {
  text-decoration: line-through;
  font-size: 12px;
  opacity: 0.7;
  padding-right: 2rem;
}

.corner .new {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 900px) {
  .products__wrapper .product {
    flex-direction: column;
    align-items: center;
  }

  .products__wrapper .product__image {
    width: 100%;
    flex: 0 0 auto;
  }

  .products__wrapper .product__description-inside {
    flex-direction: column;
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
  }
}
