.products {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.products__wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__header {
  p {
    color: $color-main;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    line-height: 1.1;
    font-weight: $font-bold;
    letter-spacing: 0.3rem;
    margin: 0;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
  }
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3rem;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.product__image {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 1rem;
  }
}

.product__header-line {
  display: block;
  width: 20rem;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}

.product__description-inside {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
  }
}

.product__description-line {
  display: block;
  width: 10rem;
  height: 0.3rem;
  background-color: $color-main;
  margin: 1rem auto 0;
}

.product__description {
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.product__measurements {
  display: flex;
  flex-direction: column;
  font-weight: $font-bold;
  font-size: 1rem;

  .product__measurements-value {
    color: $color-main;
  }
}
